body {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    transition-duration: 1000ms;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition-duration: 500ms;

}